jee/item/wsapi/src/main/resources/wsdl/itemstorageservice-1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<?oasis-xml-catalog catalog="../META-INF/jax-ws-catalog.xml"?>

<wsdl:definitions name="ItemStorageService"
	targetNamespace="http://www.acme.com/service/ns/itemstorageservice/1.0/"
	xmlns:tns="http://www.acme.com/service/ns/itemstorageservice/1.0/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:auth="http://www.acme.com/schema/ns/itemstorageservice/headers/authentication/1.0/"
	xmlns:request="http://www.acme.com/schema/ns/itemstorageservice/request/1.0/"
	xmlns:response="http://www.acme.com/schema/ns/itemstorageservice/response/1.0/"
	xmlns:fault="http://www.acme.com/schema/ns/itemstorageservice/fault/1.0/">

	<!--
		Imports
	-->

	<wsdl:types>
		<xsd:schema>
			<xsd:import
				namespace="http://www.acme.com/schema/ns/itemstorageservice/request/1.0/"
				schemaLocation="itemstorageservice-request-1.0.xsd" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import
				namespace="http://www.acme.com/schema/ns/itemstorageservice/response/1.0/"
				schemaLocation="itemstorageservice-response-1.0.xsd" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import
				namespace="http://www.acme.com/schema/ns/itemstorageservice/fault/1.0/"
				schemaLocation="itemstorageservice-fault-1.0.xsd" />
		</xsd:schema>
	</wsdl:types>

	<!--
		Messages
	-->

	<wsdl:message name="AuthenticationContextHeader">
		<wsdl:part element="auth:AuthenticationContext" name="AuthenticationContextHeader" />
	</wsdl:message>
	<wsdl:message name="RegisterItemRequest">
		<wsdl:part element="request:RegisterItemRequest" name="RegisterItemRequest" />
	</wsdl:message>
	<wsdl:message name="RegisterItemResponse">
		<wsdl:part element="response:RegisterItemResponse" name="RegisterItemResponse" />
	</wsdl:message>
	<wsdl:message name="ItemAlreadyRegisteredFault">
		<wsdl:part element="fault:ItemAlreadyRegisteredFault" name="fault" />
	</wsdl:message>

	<!--
		Port Type
	-->

	<wsdl:portType name="ItemStorageServicePortType">
		<wsdl:operation name="registerItem">
			<wsdl:input name="RegisterItemRequest" message="tns:RegisterItemRequest" />
			<wsdl:output name="RegisterItemResponse" message="tns:RegisterItemResponse" />
			<wsdl:fault name="ItemAlreadyRegisteredFault" message="tns:ItemAlreadyRegisteredFault" />
		</wsdl:operation>
	</wsdl:portType>

	<!--
		Binding
	-->

	<wsdl:binding name="ItemStorageServiceSOAPBinding" type="tns:ItemStorageServicePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="registerItem">
			<soap:operation
				soapAction="http://www.acme.com/service/ns/itemstorageservice/1.0/registerItem" />
			<wsdl:input name="RegisterItemRequest">
				<soap:body use="literal" />
				<soap:header use="literal" part="AuthenticationContextHeader"
					message="tns:AuthenticationContextHeader" wsdl:required="true" />
			</wsdl:input>
			<wsdl:output name="RegisterItemResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ItemAlreadyRegisteredFault">
				<soap:fault name="ItemAlreadyRegisteredFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ItemStorageService">
		<wsdl:port binding="tns:ItemStorageServiceSOAPBinding" name="ItemStorageServicePort">
			<soap:address location="http://localhhost:8080/ws/itemstorage" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
