integration/inbound/external/src/main/resources/META-INF/schema/item/1.0/itemcreatedevent-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.external.com/schema/ns/events/itemcreated/1.0/"
	xmlns:tns="http://www.external.com/schema/ns/events/itemcreated/1.0/"
	xmlns:model="http://www.external.com/schema/ns/models/item/1.0/"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	version="1.0">

	<!--
		Imports
	-->

	<import namespace="http://www.external.com/schema/ns/models/item/1.0/"
		schemaLocation="./include/item-model-1.0.xsd" />

	<!--
		Top level elements
	-->

	<element name="ItemCreatedEvent" nillable="false"
		type="tns:ItemCreatedEvent" />

	<!--
		Events
	-->

	<complexType name="ItemCreatedEvent">
		<sequence>
			<element name="eventId" minOccurs="1" maxOccurs="1" nillable="false"
				type="string" />
			<element name="createdItem" minOccurs="1" maxOccurs="1"
				nillable="false" type="model:Item" />
		</sequence>
	</complexType>

</schema>