integration/inbound/external/src/main/resources/META-INF/schema/item/include/item-model-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.external.com/schema/ns/models/item/1.0/"
	xmlns:tns="http://www.external.com/schema/ns/models/item/1.0/"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	version="1.0">

	<!--
		Item specification
	-->

	<simpleType name="ItemSpecId">
		<restriction base="string">
			<length value="30" />
		</restriction>
	</simpleType>

	<complexType name="ItemSpec">
		<sequence>
			<element name="ItemSpecId" minOccurs="1" maxOccurs="1"
				nillable="false" type="tns:ItemSpecId" />
			<element name="name" minOccurs="1" maxOccurs="1" nillable="false"
				type="string" />
		</sequence>
	</complexType>

	<complexType name="ItemSpecs">
		<sequence>
			<element name="ItemSpec" minOccurs="1" maxOccurs="unbounded"
				nillable="false" type="tns:ItemSpec" />
		</sequence>
	</complexType>

	<!--
		Item
	-->

	<simpleType name="ItemNumber">
		<restriction base="string">
			<length value="30" />
		</restriction>
	</simpleType>

	<complexType name="Item">
		<sequence>
			<element name="itemNumber" minOccurs="1" maxOccurs="1"
				nillable="false" type="tns:ItemNumber" />
			<element name="name" minOccurs="1" maxOccurs="1" nillable="false"
				type="string" />
			<element name="description" minOccurs="0" maxOccurs="1"
				nillable="false" type="string" />
			<element name="itemSpecs" minOccurs="1" maxOccurs="1"
				nillable="false" type="tns:ItemSpecs" />
		</sequence>
	</complexType>

</schema>